<div class="container">
  <div class="mast">
    <h2>Research & Development Unit</h2>
    <h1>Documentation Division Qualifiying Exam</h1>
    <div id="countdown"></div>
  </div>
  <article id="exam-description">
    <h1 class="title">Description</h1>
    <h2 class="category">General Directions</h2>
    <p>
      This is the questionnaire for your examination. In the Writing Exercise, Data Collection Exercise, and the Live Documentation Exercise. In Grammar, Proofreading, and Enumeration Exercise, write your answers in this questionnaire or in a separate sheet of paper. The deadline of this examination shall be three (3) days after its administration. Welcome.
    </p>
  </article>
  <article id="exam-writing">
    <h1 class="title">Writing Exercises</h1>
    <h2 class="category">Directions:</h2>
    <p>
      Do as instructed. You will be scored based on this criterion:
      <ul>
        <li>Coherence of thought  – 40%</li>
        <li>Conciseness of content  – 30%</li>
        <li>Creativity and modesty  – 20%</li>
        <li>Grammar – 10%</li>
      </ul>
    </p>
    <h2 class="category">Correspondence</h2>
    <p>
      Write a letter of request to the laboratory supervisor, channelled through the R&D Coordinator, requesting for a computer laboratory, which is to be used for the upcoming Battery Exam Tutorial this July 6. According to your Team Leader, Aaron De Leon, this computer laboratory has to be released for the Unit’s use before this week ends.
    </p>
    <p>
      Your Team Leader will sign this letter upon completion.
    </p>
    <p>
      For the names of these persons, research them by looking them up in the bulletin boards of this College.
    </p>
    <h2 class="category">Essay writing</h2>
    <p>
      What do you think are the importance of documenting meetings and events? Explain your answers.
    </p>
  </article>
  <article id="exam-livedocu">
    <h1 class="title">Live Documentation Exercise</h1>
    <h2 class="category">Minutes of the Meeting</h2>
    <p>
      Make for this week’s weekly meeting. Bring pen and paper. You are going to record its minutes. The format for documentation of the event is up to you, as long as it contains the following:
      <ul>
        <li>Time started and ended</li>
        <li>Introduction
          <blockquote>The introduction should contain the objective of the meeting. </blockquote>
        </li>
        <li>Attendance
          <blockquote>Attendance should include all those who were present, regardless of arrival time.</blockquote>
        </li>
        <li>Agenda
          <blockquote>
            Separate each important point by placing agenda headers.
          </blockquote>
          <blockquote>
            State what decisions were made, what suggestions were rejected, and what points were up for contention. 
          </blockquote>
        </li>
      </ul>
      <blockquote>
        * Submission of this documentation will be the day after the event, regardless of the 3 days deadline for this examination. Kindly coordinate to your Division Head for the schedule of the meeting.
      </blockquote>
    </p>
  </article>
  <article id="exam-data-collection">
    <h1 class="title">Data Collection Exercise</h1>
    <h2 class="category">Directions</h2>
    <p>
      Do as instructed. Collecting the data is up to you.
    </p>
    <h2 class="category">R&D Batch 2013-2014</h2>
    <p>
      Collect the following from all your fellow applicants:
      <ul>
        <li>Names</li>
        <li>Degrees (BS Computer Science, BS Information Technology, etc.):</li>
        <li>UE Student Number:</li>
        <li>Mailing addresses:</li>
        <li>Mobile phone numbers (if applicable):</li>
        <li>Landline numbers (if applicable):</li>
        <li>Email addresses:</li>
        <li>Facebook account URLs (if applicable):</li>
      </ul>
      Tabulate the data, including your own.
    </p>
    <h2 class="category">Former R&D Officers and Members</h2>
    <p>
      Former Team Leaders, Assistant Team Leaders, and Division Heads together with their members. Find out their names and their corresponding positions. 
    </p>
  </article>
  <article id="exam-notes">
    <h1 class="title">Notes</h1>
    <h2 class="category">Please Read</h2>
    <p>
      These portions of the examination are to be administered after you finish your Live Documentation Exercise, regardless whether you took it or not. Please review grammar, proofreading, quality assurance. Good luck.
    </p>
    <h2 class="category">Contact</h2>
    <p>
      You can contact the Documentation Division Head for your questions or any clarifications regarding this exam – +639166059853.
    </p>
  </article>
</div>