<div class="container">
  <div class="mast">
    <h2>Research & Development Unit</h2>
    <h1>Multimedia Division Exam</h1>
  </div>
  <article>
    <h1 class="title">Description</h1>
    <h2 class="category">Directions</h2>
    <p>
      Your examination is composed of three parts, Create a folder for each part following the format "TEST#_SURNAME". And save the final output, with all the resources you used, on their specific folders.The deadline of submission for this examination shall be five days after its administration. Feel free to contact the multimedia division head for any clarifications regarding the examination.
    </p>
  </article>
  <article>
    <h1 class="title">Test 1</h1>
    <h2 class="category">Logo Design</h2>
    <p>
      Create a flat version of the R&D logo.The logo will be given to you or will be sent via facebook upon taking the examination.
    </p>
  </article>
  <article>
    <h1 class="title">Test 2</h1>
    <h2 class="category">Info Graphics</h2>
    <p>
      Define or represent the following topics by using Information Graphics or Infographics based on your own knowledge and creativity (choose only one).
      <ul>
        <li>Insight about R&D</li>
        <li>A Visual History of UE</li>
        <li>How the World uses Social Networks</li>
        <li>Life of a CCSS Student</li>
        <li>Computer programming</li>
        <li>Life with Internet v.s. Life without Internet</li>
        <li>Modern Science</li>
        <li>The Rise of Social Blogging</li>
        <li>Private Information on Social Media</li>
      </ul>
    </p>
  </article>
  <article>
    <h1 class="title">Test III</h1>
    <h2 class="category">Audio Visual Presentation</h2>
    <p>
      Create an AVP with a title of "Insight about R&D". The AVP should have a minimum of 3mins and maximum of 5mins.
    </p>
  </article>
  <article>
    <h1 class="title">Notes</h1>
    <h2 class="category">Please Read</h2>
    <p>
      You are free to use any resources you need as long as you include their sources.
    </p>
    <h2 class="category">Contact</h2>
    <p>
      R&D Multimedia Head - +639178565922
    </p>
  </article>
</div>