<div class="container">
  <div class="mast">
    <h2>Research & Development Unit</h2>
    <h1>Skills Test — Systems Division</h1>
  </div>
  <article id="exam-welcome">
    <h1 class="title">Welcome</h1>
    <blockquote><a href="https://www.dropbox.com/s/q8vgjseqw6462fq/system%20div%20exam.pdf">Download PDF Version</a></blockquote>
    <p>
      Thank you for applying to the Research and Development Unit. At R&D, Excellence is our Habit.Our graduates have landed jobs in companies such as Smart, Oracle, Hewlett-Packard, Teradata, and Misys, among others. We hope that you become our future members.
    </p>
    <p>
      As a (hopefully) future member of the Systems Division, you are expected to have the following competencies:
    </p>
    <ul>
      <li>A mind that is very open to learning</li>
      <li>Competency in any programming language of your choice</li>
      <li>The ability to work individually, without the need for direction, and within a team</li>
    </ul>
    <p>
    We are also pushing for these competencies:
    </p>
    <ul>
      <li>Writing clean and concise code</li>
      <li>Involvement in projects both inside and outside the university</li>
      <li>Knowledge of a software development framework</li>
    </ul>
    <p>Good luck!</p>
  </article>
  <article id="exam-knowledge">
    <h1 class="title">Programming Knowledge</h1>
    <p>Write a program that prints the numbers from1 to 100. But for multiples of three print "Fizz" instead of the number and for multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".<br><br>
You may use any programming language you prefer.
</p>
  </article>
  <article id="exam-proficiency">
    <h1 class="title">Programming Proficiency</h1>
    <p>
      Create an account at Codingbat 

      <code>http://codingbat.com/</code> 
      and solve as many problems as you can in Java. You will get full credit if you can solve three Array-2 problems, three String-2 problems, one<br>
Array-3 problem, and one String-3 problem.<br><br>
Send us a screenshot at 
<code>systems@uernd.org</code>
Screenshots should look like this:
    </p>
    <p>
      <img src="assets/img/system-div1.jpg" alt="">
      You may solve less or more problems if you prefer. Less problems mean partial credit, while the more problems you solve, the higher chance you have of being accepted. We have to check your solutions first, so even if you have submitted your screenshots, we will still check your Java source code for conciseness and proper programming technique.
    </p>
  </article>
  <article id="exam-selfstudy">
    <h1 class="title">Self-Study Capacity</h1>
    <p>This is the most important part of the test. As an R&D member, you will be asked to write code that is beyond the scope of your lessons in the university. Hence it is of utmost importance that you be self-directed and study on your own. We are expecting great things from our future members.</p>
    <p>Do one of the following:
      <ul>
        <li>
          <p>Sign up for an account at (http://www.codecademy.com/learn) and finish three lessons in the following courses: Web Fundamentals, JavaScript, Ruby, or PHP. You will need to learn at least one of these in the future, so you might as well learn it now. Solve three Array-2 problems, three String-2 problems, one Array-3 problem, and one String-3 problem at Codingbat, but use Python. These have to be different from the ones that you solved using Java.</p>
        </li>
        <li>
          <p>Once you have finished, send us a screenshot at
            <code>systems@uernd.org</code>
          </p>
        </li>
      </ul>
    </p>
  </article>
  <article id="exam-bonuses">
    <h1 class="title">Bonuses</h1>
    <p>
      <strong>These are all bonus items which youmay choose to visit, read, or code.</strong> In the spirit of Excellence is our Habit, we believe that our members have to keep up with the trends in the tech world.
    </p>
    <p>
      <ul>
        <li>
          <strong>Bonus Item #1:</strong> Feel free to research any of these topics, and write a 2-sentence summary of your research:
          <ol>
            <li>Mark Andreessen: Why Software Is Eating The World (http://on.wsj.com/o6yIeE)</li>
            <li>PhilippineWeb Designers Organization (http://www.pwdo.org/)</li>
            <li>Developers Connect (http://devcon.ph/)</li>
          </ol>
          <blockquote>You may also choose to join their Facebook groups.</blockquote>
        </li>
        <li>
          <strong>Bonus Item #2:</strong> Like and share our Facebook page (https://www.facebook.com/ueccssrnd).
        </li>
        <li>
          <strong>Bonus Item #3:</strong> Show us a sample of your work. This could be your project in your DBMS class.
        </li>
      </ul>
    </p>
  </article>
  <article id="tips">
    <h1 class="title">Tips</h1>
    <p>
      For any clarifications, contact Daryll at 09166412853 or (daryll@uernd.org).
    </p>
    <p>
      Take each problem one at a time. Rest after every few minutes. You don’t have to solve all problems in order. It is not unheard of to spend upwards of 30 minutes on one problem. Power through.
    </p>
    <p>
      Please do not cheat. We respect you enough to not check.
    </p>
  </article>
</div>