<div class="container">
  <div class="mast">
    <h2>Research & Development Unit</h2>
    <h1>Training Division Exam</h1>
    <div id="countdown"></div>
  </div>
  <article id="exam-debugging">
    <h1 class="title">Debugging</h1>
    <h2 class="category">Directions:</h2>
    <p>
      Submit a running version of these programs. Assume that the programs are working.
    </p>
    <h2 class="category">Program #1</h2>
    <pre>
      //This program calculates the highest number in the array.
      public class  Max Number{
        Scanner scanner = new Scanner();
        int i = 1;
        int nums[] = {0,2,32,12,54,23,12,43};
        int highest = num[0];
        
        for(; i < nums.length; ++i){;
          if(num[i] > highest){
            highest = num[i];
          }
        }
      }
    </pre>
    <h2 class="category">Program #2</h2>
    <pre>
      public class OddOrEven {
        public static void main(String[] args){
          Scanner scanner = new Scanner(System.in);
          System.out.println(Enter a number);
          int i = scanner.nextInt();
          if(i % 2 = 0){
            System.out.println(“Even”);
          }else{
            System.out.println(“Odd”);
          {
        }
      }
    </pre>
  </article>
  <article id="exam-practical">
    <h1 class="title">Practical Exam</h1>
    <h2 class="category">Directions</h2>
    <p>
      Prepare a 20 minute tutorial on any topic you like. Visuals are much appreciated. RND members will be your audience. This will be the 40% of your examination.
      <blockquote>
        * You will be prompted 3 days before your presentation.
      </blockquote>
    </p>
  </article>
  <article id="exam-usability">
    <h1 class="title">Usability Evaluation</h1>
    <h2 class="category">Directions</h2>
    <p>
      Make a usability report on a system that the rnd will provide. The report must contain performance evaluation, recommendations, and aesthetics evaluation. The report must be accomplished in 7 days.
    </p>
  </article>
  <article id="exam-networking">
    <h1 class="title">Networking (Optional)</h1>
    <h2 class="category">Directions</h2>
    <p>
      Connect 2 terminals using peer to peer connection and a switch. You are given 45  minutes to do the task, Bring at least one laptop. UTP Cables will be provided.
      <blockquote>
        * You will be prompted 3 days before your presentation. Please notify the division head if you are interested on taking the optional examination.
      </blockquote>
    </p>
  </article>
</div>